<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing bank slip</h1>

  <%= render "form", bank_slip: @bank_slip %>

  <%= link_to "Show this bank slip", @bank_slip, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to bank slips", bank_slips_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
